<!DOCTYPE html>
<html lang="zh_CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <title>待办事项</title>
    <style>
        body {
            margin: 0;
        }

        article {
            border: 1px solid #ddd;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <article>正在加载....</article>
    </div>
    <template id="article">
        <article>
            <a href="?id={{iid}}">{{title}}</a>
            <pre><code>{{description}}</code></pre>
        </article>
    </template>
    <script>
        function $(selector) {
            return document.querySelector(selector);
        }

        function template(mode, data) {
            let html = $(`#${mode}`).innerHTML.replace(/{{(\w+)}}/g, function(match, item) {
                return data[item];
            });
            $("#app").insertAdjacentHTML("beforeend", html);
        }

        function param(key) {
            for (let item of location.search.slice("1").split("&")) {
                if (item.split("=")[0] == key) {
                    return item.split("=")[1];
                }
            }
            return false;
        }

        async function ajax(id) {
            let url = "https://gitlab.com/api/v4/projects/17201554/issues";
            if (id) {
                url = `${url}/${id}`;
            }
            const response = await fetch(url, {
                method: "GET",
                headers: {
                    "PRIVATE-TOKEN": "MAxBLPmxsCQss3sC9F6a"
                }
            });
            return await response.json();
        }

        ajax(param("id")).then(function(data) {
            $("#app").innerHTML = "";
            if (data instanceof Array) {
                for (let issue of data) {
                    template("article", issue);
                }
            } else {
                template("article", data);
            }
        }).catch(console.log);
    </script>
</body>

</html>